.out{
    display: block;
    text-align: center; 
    height: 100%;
    width: 100%;
    padding: 10px 100px;

}

.form
{
    height: 95%;
    width: 100%;
    // border:0.5px solid grey;
    // display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    // display:flex;
    justify-content: center;
    padding: 10px;

}

.in{
    padding: 20px;
}